{% paginate blog.articles by 9 %}

  {%- assign blog_title = blog.title -%}

  {% if current_tags %}
    {% capture blog_title %}{{ current_tags.first }}{% endcapture %}
  {% endif %}


<div class="page-blog">

  <header>
    <h1 class="heading--serif-grey">{{ blog_title }}</h1>


    <!-- ====== TAGS LIST NAV ======== -->
    {% if blog.all_tags.size > 0 %}
      <div class="tags-row">
        <!-- Mobile dropdown trigger -->
        <button class="show-mobile js-dropdown-trigger dropdown-trigger" aria-label="View Categories on mobile">
          Select a category
          <span class="icon">{%- include 'icon-caret-down' -%}</span>
        </button>

        <ul class="tags-list">
          {% if current_tags %}
            <li>
              <a href="/blogs/blog/">All Posts</a>
            </li>
          {% endif %}
          {% for tag in blog.all_tags %}

          {% if current_tags contains tag %}
          <li>{{ tag }}</li>
          {% else %}
          <li>{{ tag | link_to_tag: tag }}</li>
          {% endif %}

          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </header>


  <!-- ======================================
  ARTICLES
  =========================================== -->
  <div class="article-list container">

      {% for article in blog.articles %}
        {%- include 'blog-card' -%}
      {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
</div>

{% endpaginate %}
