<div class="page-info container">
  <div class="inner" data-trigger="scroll">

      <header>
        <h1 data-reveal="lines-masked">{{ page.title }}</h1>
      </header>

      <div class="rte desc" data-anim="slide" data-anim-order="2">
        {{ page.content }}
      </div>

  </div>
</div>
