<div id="recover-password" style="display:none">

  {% form 'recover_customer_password' %}
    <button type="button" class="text-only js-close-account-popup close-popup-button">
      {%- include 'icon-cart-close' -%}
    </button>
    <h2  data-anim="slide" data-anim-order="2">Reset Password</h2>
    {{ form.errors | default_errors }}

    <div class="validation-wrapper" data-anim="slide" data-anim-order="3">
      <label for="Email" class="visually-hidden">
        {{ 'customer.register.email' | t }}
      </label>
      <input type="email"
        name="email"
        id="Email"
        class="{% if form.errors contains 'email' %}input-error{% endif %}"
        placeholder="{{ 'customer.register.email' | t }}"
        value="{% if form.email %}{{ form.email }}{% endif %}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
        required>
    </div>

    <p class="desc">
      We will send you an email to reset your password.
    </p>

    <div class="btn-wrapper">
      <button type="submit" class="btn btn--black" data-anim="slide" data-anim-order="3">Reset</button>
    </div>
    <div class="end-links">
      <p data-anim-order="6"><a href="#register" class="js-create-account">Create account</a></p>
      <p data-anim-order="7">Already have an account? <a href="#login" class="js-login">Login</a></p>
    </div>
  {% endform %}
</div>
