/* --------------------------------------------------------------------------
Buttons
-----------------------------------------------------------------------------*/
.btn,
button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
  outline: none;
  display: inline-block;
  background-color: transparent;
  resize: none;
  &:hover {}
}

.btn--black {
  display: inline-block;
  background: black;
  color: white;
  padding: 1.5rem 3.8rem;
  border: 2px solid black;
  text-transform: uppercase;
  font-family: $proxima;
  font-size: 1.2rem;
  letter-spacing: 0.183rem;
  text-align: center;
  line-height: 1.2rem;
  font-weight: 600;
  &:hover {
    background: transparent;
    color: black;
  }

}

.text-only {
  font-family: inherit;
  color: inherit;
  padding: 0;
  border: 0;
  text-transform: none;
  background-color: transparent;
  outline: none;
  border-radius: 0;
}

.btn-row {
  text-align: right;
}
