/* --------------------------------------------------------------------------
  CART DRAWER
-----------------------------------------------------------------------------*/
$cartWidth: 38rem;
.cart-drawer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: $cartWidth;
  z-index: 300;
  background: white;
  padding: 1.6rem 0 6rem;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out 0.3s;
  overflow-y: scroll;
  -webkit-box-shadow: -4px 0 5px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: -4px 0 5px -2px rgba(0,0,0,0.2);
  box-shadow: -4px 0 5px -2px rgba(0,0,0,0.2);
  @include mobile-only {
    width: 100%;
  }
  .cart-inner {
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  .cart-container {
    padding-left: 3.7rem;
    padding-right: 3.7rem;
  }
}

/* CLOSE CART BUTTON & OVERLAYS ================== */
.close-cart-overlay {
  opacity: 0.9;
  position: fixed;
  z-index: 290;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: #464646;
  transition: all 0.5s ease-in-out 0.2s;
}

.close-cart-button {
  width: 1.8rem;
}

/* OPEN CART STYLES ================== */
.open-cart {
  .cart-drawer {
    transform: none;
    transition: all 0.4s ease-in-out 0.1s;
  }
  .cart-inner {
    transition: all 0.4s ease-in-out 0.4s;
    opacity: 1;
  }

  .close-cart-overlay {
    opacity: 0.5;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }

}

/* --------------------------------------------------------------------------
    CART DRAWER - EMPTY CART
-----------------------------------------------------------------------------*/
.cart-drawer .empty-cart {
  margin-bottom: 2rem;
  padding-top: 3rem;
  text-align: center;
}

/* --------------------------------------------------------------------------
  CART DRAWER - TOP ROW
-----------------------------------------------------------------------------*/
.cart-drawer .cart-inner .top-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4rem;
  h2 {
    margin-bottom: 0;
  }
  .close-cart-text {
    margin-bottom: 0;
  }
}

/* --------------------------------------------------------------------------
  FREE SHIPPING BANNER
-----------------------------------------------------------------------------*/
.free-shipping-row {
  background: $lightGreyBg;
  padding-top: 3rem;
  padding-bottom: 3rem;
  p {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    color: #505050;
    text-align: center;
    line-height: (25 / 18);
    strong {
      font-weight: 400;
      color: black;
    }
  }
}

/* --------------------------------------------------------------------------
    CART DRAWER - PRODUCTS
-----------------------------------------------------------------------------*/
.cart-drawer .cart-row {
  .inner-cart-row {
    display: flex;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
  &:not(:last-of-type) .inner-cart-row {
    border-bottom: $border;
  }

  h3 {
    margin-bottom: 0;
    font-size: 1.6rem;
    letter-spacing: 0.046rem;
    max-width: 15rem;
    margin-bottom: 0.8rem;
    line-height: (19 / 14);
  }

  .subscribe-text,
  .variant-text {
    margin-bottom: 1rem;
    p {
      font-size: 1.2rem;
      color: $darkGreyText;
    }
  }

}

.cart-drawer {
  .quantity-cell,
  .total-cell {
    @extend %split-aligner;
    * {
      font-size: 1.2rem;
    }
  }
  .total-cell {
    margin-bottom: 1.2rem;
  }
  .quantity-cell {
    display: inline-block;
    border: 1px solid #979797;
    padding: 0;
    color: black;
    font-size: 1.1rem;
  }
  .add-one,
  .subtract-one {
    padding: 0.6rem 1rem;
    display: inline-block;
  }
  .remove-item {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.243rem;
    text-align: right;
    line-height: 1;
  }
  .quantity-row {
    align-items: flex-end;
  }
}

/* CART IMAGE ================== */
.cart-drawer .cart-image {
  width: 8.6rem;
  margin-right: 2rem;
  img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* CART INFO ================== */
.cart-info {
  flex-grow: 1;
}

/* --------------------------------------------------------------------------
  PRODUCTS
-----------------------------------------------------------------------------*/
.cart-drawer .footer-content {
  margin-top: 4rem;
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: $cartWidth;
  @include mobile-only {
    left: 0;
    right: 0;
    width: 100%;
  }
  .btn {
    width: 100%;
    text-align: center;
  }
}
