/* --------------------------------------------------------------------------
Hosted Fonts
-----------------------------------------------------------------------------*/

@font-face {
  font-family: "CanelaLight";
  src: url(" {{ 'canela.eot' | asset_url }} ");
  src: url(" {{ 'canela.eot?#iefix' | asset_url }} ") format("embedded-opentype"), url(" {{ 'canela.woff2' | asset_url }} ") format("woff2"), url(" {{ 'canela.woff' | asset_url }} ") format("woff");
  font-weight: 300;
  font-style: normal;
}

/*
TEMPLATE:
@font-face {
  font-family: 'Font 1';
  src: url('../fonts/font1.woff2') format('woff2'),
       url('../fonts/font1.woff') format('woff'),
       url('../fonts/font1.ttf') format('truetype'),
       url('../fonts/font1.eot') format('embedded-opentype');
}
*/
