/* --------------------------------------------------------------------------
Body Open Mobile Nav Styles
-----------------------------------------------------------------------------*/
.open-mobile-nav {
  /* Prevent the body from scrolling under the mobile navigation */
  // position: fixed;
  // overflow: hidden;
}

/* --------------------------------------------------------------------------
  NAV WRAPPER STYLES
-----------------------------------------------------------------------------*/
.nav-wrapper {
  background: white;
  padding-top: 4.8rem;
  padding-bottom: 4.1rem;
  position: relative;
  transition: $smoothTransition;
  z-index: 190;
  @include mobile-only {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  &.loaded {
    position: fixed;
  }
  @include tablet-up {
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

/* --------------------------------------------------------------------------
  LOGO WrAPPER
-----------------------------------------------------------------------------*/
.nav-wrapper .logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19.3rem;
  transition: $smoothTransition;
  img {
    width: 100%;
  }
  @include mobile-only {
    width: 10rem;
  }
}

/* --------------------------------------------------------------------------
Header Navigation Styles
-----------------------------------------------------------------------------*/
.nav-wrapper nav {
  ul {
    @include tablet-up {
      display: flex;
      align-items: center;
    }
  }
  li {
    line-height: 1;
  }
  a {
    font-family: $proxima;
    font-size: 1.3rem;
    color: #000000;
    letter-spacing: 0.2rem;
    line-height: 1;
    color: $primaryAnchorColor;
    text-transform: uppercase;
    overflow: hidden;
    display: inline-block;
    position: relative;
    /* ANIMATED UNDERLINE */
    @include tablet-up {
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 98%;
        height: 1px;
        transform: translateX(-103%);
        transition: $smoothTransition;
        background: black;
      }
      &:hover::before {
        transform: none;
      }
    }
  }
  a:hover {
    color: darken($primaryAnchorColor, 20%);
  }
}

/* LEFT NAV ================== */
.nav-wrapper .left-nav {
  @include tablet-up {
    a {
      margin-right: 3rem;
    }
  }
}

/* RIGHT NAV ================== */
.nav-wrapper .right-nav {
  @include tablet-up {
    a {
      margin-left: 3rem;
    }
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
  }
}

/* ==============   MOBILE NAV STYLES  ============== */
@include mobile-only {
  .nav-wrapper .nav-flyout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $lightGreyBg;
    transform: translateX(-102%);
    transition: all 0.8s $easeInSoft;
    z-index: 200;
    padding-left: 3rem;
    padding-top: 10rem;
    a {
      display: block;
      margin: 0;
      font-size: 1.6rem;
      line-height: 2;
      transform: translateX(-2rem);
      opacity: 0;
      transition: all 0.8s $ease;
    }
  }
}

/* ==============   OPEN MOBILE NAV  ============== */
.open-mobile-nav {
  .nav-flyout {
    /* Styles for when the user clicks the hamburger icon */
    transform: none;
    transition: all 0.6s $ease;
    a {
      transform: none;
      opacity: 1;
      visibility: visible;

    }
  }
}

@for $i from 1 through 10 {
  .left-nav li:nth-of-type(#{$i}) a {
    transition-delay: ($i - 1) * 0.1s;
  }
  .right-nav li:nth-of-type(#{$i}) a {
    transition-delay: ($i + 3) * 0.1s;
  }
}

/* --------------------------------------------------------------------------
Hamburger Icon styles
-----------------------------------------------------------------------------*/
.hamburger {
  width: 2.4rem;
  height: 1.6rem;
  position: absolute;
  left: 2.5rem;
  top: 2.6rem;
  display: none;
  z-index: 201;
  cursor: pointer;
  span {
    display: block;
    border-bottom: 2px solid $borderColor;
    width: 100%;
    position: absolute;
    height: 1px;
    transition: all 0.2s ease-in-out;
  }
  span:first-of-type {
    top: 0;
  }
  span:nth-of-type(2) {
    top: 50%;
  }
  span:last-of-type {
    top: 100%;
  }
}

/* ==============   HAMBURGER MOBILE STYLES  ============== */
@include mobile-only {
  .hamburger {
    display: block;
    position: absolute;
  }
}

/* ==============   OPEN MOBILE NAV HAMBURGER STYLES  ============== */
.open-mobile-nav {
  /* Rotate lines to form an X */
  .hamburger {
    position: fixed;
    span:first-of-type {
      top: 50%;
      transform: rotate(-45deg);
    }
    span:nth-of-type(2) {
      transform: translateX(-20%);
      opacity: 0;
    }
    span:last-of-type {
      top: 50%;
      transform: rotate(45deg);
    }
  }
}

/* ==============   CART ICON  ============== */
.nav-wrapper .cart-icon-wrapper {
  width: 3.2rem;
  height: 3.2rem;
  display: block;
  font-family: $proxima;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 1;
  position: relative;
  transform: translateY(-.2rem);

  @include tablet-up {
    margin-left: 3rem;
    padding: 0 !important;
  }
  @include mobile-only {
    width: 2.6rem;
    height: 2.6rem;
    font-size: 1.2rem;
  }
  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-39%, -48%);
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 1px solid #595959;
    pointer-events: none;
  }
}

.mobile-cart-link {
  position: absolute;
  right: 2rem;
  top: 2.4rem;
}

/* --------------------------------------------------------------------------
  SCROLLED NAV WRAPPER
-----------------------------------------------------------------------------*/
.nav-wrapper.scrolled {
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: 2px 10px 19px -22px rgba(0,0,0,0.18);
  -moz-box-shadow: 2px 10px 19px -22px rgba(0,0,0,0.18);
  box-shadow: 2px 10px 19px -22px rgba(0,0,0,0.18);
  @include tablet-up {
    padding-top: 2.8rem;
    padding-bottom: 2.1rem;
    .logo-wrapper {
      width: 12rem;
    }
  }
  @include mobile-only {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    .mobile-cart-link {
      top: 1.8rem;
    }
    .hamburger {
      top: 2.3rem;
    }
  }

}
