/* --------------------------------------------------------------------------
Font Sizes
-----------------------------------------------------------------------------*/
$baseSize: 10px;
$tabletBaseSize: 9px;
$mobileBaseSize: 8px;
$bodyDesktopFontSize: 1.8rem;
$bodyMobileFontSize: 1.6rem;
$bodyTextFontSize: 1.8rem;

$largeHeadingFontSize: 2.7rem;
$mediumHeadingFontSize: 2.4rem;
$smallHeadingFontSize: 2rem;

/* --------------------------------------------------------------------------
Font Styles
-----------------------------------------------------------------------------*/
$bodyTextLineHeight: 1.6;
$bodyTextLetterSpacing: 0.05rem;

/* --------------------------------------------------------------------------
Typography
-----------------------------------------------------------------------------*/
html {
  font-size: $baseSize;
  font-size: 0.69444444vw;
}

body {
  background-color: $primaryBgColor;
  font-family: $bodyTextFont;
  font-size: $bodyTextFontSize;
  color: $primaryTextColor;
  line-height: $bodyTextLineHeight;
  letter-spacing: $bodyTextLetterSpacing;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  font-size: $bodyDesktopFontSize;
  @include mobile-only {
    font-size: $bodyMobileFontSize;
  }
}

/* --------------------------------------------------------------------------
Anchors
-----------------------------------------------------------------------------*/
a {
  color: $primaryAnchorColor;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:active,
a:hover {
  color: darken($primaryAnchorColor, 10%);
}

.link--underline {
  font-family: $proxima;
  font-size: 1.4rem;
  color: #000000;
  letter-spacing: 0.283rem;
  line-height: 1;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  @include mobile-only {
    font-size: 1.3rem;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $borderColor;
    transition: $smoothTransition;
  }
  &:hover {
    &::before {
      transform: translateY(-.2rem);
    }
  }
}

/* --------------------------------------------------------------------------
Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4 {
  font-family: $headingFont;
  font-weight: normal;
  font-style: normal;
}

.heading--serif,
h1 {
  font-family: $canela;
  font-size: 4.5rem;
  letter-spacing: 0.146rem;
  line-height: (55 / 45);
  @include mobile-only {
    font-size: 2.8rem;
    line-height: (40 / 30);
  }
}

.h3 {
  font-family: $canela;
  font-size: 1.6rem;
  letter-spacing: 0.052rem;
  line-height: 2.2rem;
}

.heading--serif-xl {
  font-family: $canela;
  font-size: 5.8rem;
  letter-spacing: 0.188rem;
  line-height: (62 / 58);
  @include mobile-only {
    font-size: 2.8rem;
    line-height: (40 / 30);
  }
}

/* --------------------------------------------------------------------------
  TEXT STYLES
-----------------------------------------------------------------------------*/
.desc {
  font-family: $proxima;
  font-size: 1.8rem;
  color: #000000;
  letter-spacing: 0.59px;
  line-height: (24 / 18);
  @include mobile-only {
    font-size: 1.4rem;
    line-height: (19 / 14);
  }
  ol,
  p,
  ul {
    margin-bottom: 2rem;
  }
  a {
    text-decoration: underline;
  }
  b,
  strong {
    font-weight: 600;
    color: $darkGreyText;
  }
  ul {
    padding-left: 2.5rem;
    li {
      list-style: disc;
      margin-bottom: 1rem;
    }
    > ul > li {
      list-style: circle;
    }
  }

  ol li {
    list-style-type: decimal;
  }

}

.price {
  font-family: $proxima;
  font-size: 1rem;
  letter-spacing: 0.202rem;
  line-height: 1;
}

/* --------------------------------------------------------------------------
  SMALL CAPS
-----------------------------------------------------------------------------*/
%smallCaps {
  text-transform: uppercase;
  font-size: $smallHeadingFontSize;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}

/* --------------------------------------------------------------------------
Rules
-----------------------------------------------------------------------------*/
hr {
  border: 0;
  border-bottom: $border;
}

/* --------------------------------------------------------------------------
Responsive Design
-----------------------------------------------------------------------------*/
/* Mobile ================== */
@include mobile-only {
  html {
    font-size: 2.1vw;
  }
}

@include mobile-sm-only {
  html {
    font-size: 2.666666666vw;
    // font-size: 10px;
  }
}

/* Large Mobile ================== */
@media only screen and (max-width: 768px) and (min-width: 580px) {
  html {
    font-size: 1.8vw;
  }
}

/* MONITOR ================== */
@media only screen and (min-width: 1800px) {
  html {
    font-size: 13px;
  }
}
