
/* --------------------------------------------------------------------------
  BLOG PAGE
-----------------------------------------------------------------------------*/
.page-article,
.page-blog {

  .heading--serif-grey {
    padding-bottom: 0.6rem;
    border-bottom: $border;
    margin-bottom: 0;
  }
}

.tags-row {
  /* MOBILE DROPDOWN TRIGGER ================== */
  .dropdown-trigger {
    @extend .small-caps;
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transform: translateX(.8rem);
    @include tablet-up {
      display: none;
    }
    .icon {
      display: inline-block;
      transform: translateY(-.1rem);
      svg {
        display: inline-block;
        width: 1.3rem;
        transition: all 0.4s $ease;
      }
    }
  }
  .tags-list {
    padding: 2.5rem 0;
    @include tablet-up {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include mobile-only {
      background: white;
      text-align: center;
      display: none;
      padding: 0 0 2.5rem;
    }
    li {
      @extend .small-caps;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      display: block;
      overflow: hidden;
      display: inline-block;
      position: relative;
      line-height: 1.3;

      @include mobile-only {
        display: block;
        margin: 0 0 1.6rem;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 99%;
        height: 1px;
        transform: translateX(-103%);
        transition: $smoothTransition;
        background: black;
      }
      &:focus::before,
      &:hover::before {
        transform: none;
      }
    }
  }
}

.active-tags {
  .dropdown-trigger .icon svg {
    transform: scaleY(-1);
  }
}

/* --------------------------------------------------------------------------
  BLOG PAGE ARTICLE
-----------------------------------------------------------------------------*/
/* LAYOUT STYLES ================== */
.page-article,
.page-blog {
  .article-list {
    @include mobile-only {
      padding-left: 0;
      padding-right: 0;
    }
    @include tablet-up {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

  }
  article {
    @include tablet-up {
      width: calc(50% - 5rem);
    }
    @include mobile-only {
      width: 100%;
    }
  }
  .text-content {
    @include mobile-only {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

.page-article .main-article {
  width: 100%;
}

/* TEXT STYLES ================== */
.page-article .article-card,
.page-blog .article-list {
  article {
    margin-bottom: 9.4rem;
    @include mobile-only {
      margin-bottom: 4rem;
    }
  }

  .article-tags {
    width: 70%;
    li {
      display: inline-block;
    }
  }
  .metadata-row {
    margin-bottom: 2.2rem;
    @include mobile-only {
      display: block;
      margin-bottom: 1.8rem;
    }
    .small-caps {
      font-size: 1.4rem;
    }
  }
  .date {
    font-weight: 400;
    color: #737373;
    @include mobile-only {
      margin-top: 0.5rem;
    }
  }
  .heading--serif {
    margin-bottom: 2rem;
    @include mobile-only {
      line-height: 1.2;
    }
    @include tablet-up {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
  }
  .desc {
    @include tablet-up {
      font-size: 1.6rem;
    }

  }
  .cropped-image-wrapper {
    padding-bottom: 67%;
    margin-bottom: 2.5rem;
  }
  .read-more-row {
    display: none;
  }
}

/* HERO ARTICLE ================== */
.page-article .lead-card,
.page-blog article:nth-of-type(1) {
  background: $lightGreyBg;
  width: 100%;
  @include tablet-up {
    display: flex;
    flex-direction: row-reverse;
  }
  .heading--serif {
    @include tablet-up {
      font-size: 5rem;
      line-height: (53 / 50);
      letter-spacing: 0.163rem;
      margin-bottom: 4rem;
    }
  }
  > a,
  > div {
    @include tablet-up {
      width: 50%;
    }
  }
  .desc {
    margin-bottom: 4rem;
  }
  .text-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include tablet-up {
      padding-left: 7rem;
      padding-right: 8rem;
    }
  }
  .cropped-image-wrapper {
    padding-bottom: 83%;
    margin-bottom: 0;
  }
  .metadata-row {
    margin-bottom: 3rem;
    @include mobile-only {
      margin-bottom: 2rem;
    }
  }
  .read-more-row {
    display: block;
  }
}

/* --------------------------------------------------------------------------
  PAGINATION
-----------------------------------------------------------------------------*/
.pagination {
  text-align: center;
  font-family: $proxima;
  font-size: 1.4rem;
  color: #000000;
  letter-spacing: 0.178rem;
  margin-bottom: 4.5rem;
  font-weight: 600;
  .inner {
    display: inline-block;
    border-top: 1px solid #979797;
  }
  .page {
    display: inline-block;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    line-height: 3.2rem;
    &.current {
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -.2rem;
        width: 100%;
        height: 3px;
        border-top: 3px solid black;
        transform: translateY(-.2rem);
      }
    }
  }
  .icon-next,
  .icon-prev {
    display: inline-block;
    svg {
      width: 0.7rem;
      display: inline-block;
      transform: translateY(.2rem);
    }
  }
  .icon-next {
    margin-right: 1.2rem;
  }
  .icon-prev {
    margin-left: 1.2rem;
  }
  .next,
  .prev {
    display: none;
  }
  a {}
}

.social-sharing {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  a {
    display: inline-block;
    svg {
      width: 1.2rem;
      display: inline-block;
    }
  }
}

/* --------------------------------------------------------------------------
  ARTICLE DETAIL PAGES
-----------------------------------------------------------------------------*/
.page-article .lead-card {
  margin-bottom: 6rem;
  @include mobile-only {
    margin-bottom: 3rem;
  }
  h3 {
    // max-width: 38.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .text-content {
    @include tablet-up {
      position: relative;
      .metadata-row {
        position: absolute;
        bottom: 0;
        left: 3rem;
        right: 3rem;
      }
    }
  }
}

.page-article .article-content {
  color: $darkGreyText;
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: (25 / 18);

  @include mobile-only {
    font-size: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }
  p {
    max-width: 71.9rem;
    margin-left: auto;
    margin-right: auto;
    @include mobile-only {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  .blog-image-wrapper {
    max-width: 100%;
    margin: 4.5rem auto;
    @include mobile-only {
      margin: 2.5rem auto;
      padding: 0;
    }
  }
}

/* RELATED ================== */
.shop-this-post {
  border-top: 1px solid #979797;

}

.up-next {
  border-top: 1px solid #979797;
  h2 {
    margin-bottom: 4.5rem;
    text-align: center;
    letter-spacing: 0.13rem;
    @include mobile-only {
      margin-bottom: 3rem;
    }
  }
  .desc {
    display: none;
  }
  .article-card {
    @include mobile-only {
      margin-bottom: 2rem;
    }
  }
}
