/* --------------------------------------------------------------------------
  FORM PAGE HEADER
-----------------------------------------------------------------------------*/
.form-page {
  color: $darkGreyText;

  header {
    text-align: center;
    h1 {
      margin-bottom: 3.2rem;
    }
    .desc {
      color: $darkGreyText;
      line-height: 1.5;
      margin-bottom: 2.9rem;
    }
  }
  .inner {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 55.6rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-wholesale {
  .inner {
    max-width: 58rem;
  }
}

/* --------------------------------------------------------------------------
  FORM PAGE HEADER
-----------------------------------------------------------------------------*/
.form-page form {}