/* --------------------------------------------------------------------------
  HOME HEADER
-----------------------------------------------------------------------------*/
.template-index header {
  position: relative;
  overflow: hidden;
  background: $lightGreyBg;
  @include mobile-only {
    padding-bottom: 3rem;
  }
  h1 {
    margin-bottom: 3.4rem;
    @include mobile-only {
      margin-bottom: 2.6rem;
    }
  }
  .text-content {
    @include tablet-up {
      position: absolute;
      bottom: 16.7rem;
      left: 0;
      max-width: 66.5rem;
      margin-left: auto;
      margin-right: auto;
    }
    @include mobile-only {
      margin-top: 3rem;
    }
  }
  .desc {
    letter-spacing: 0.59px;
  }
  .link--underline::before {
    opacity: 0;
  }
  &.js-animate .link--underline::before {
    opacity: 1;
  }
}

.template-index header .img-scale-in {
  opacity: 0;
  transform: scale(1.09);
  &.lazyloaded {
    animation: fade-and-scale-in 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
}

@keyframes fade-and-scale-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.09);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

}

/* --------------------------------------------------------------------------
  FAVORITES (Products row)
-----------------------------------------------------------------------------*/
.template-index .favorites {
  h2 {
    width: 100%;
    @include mobile-only {
      text-align: center;
    }
  }
  .product-card {
    @include tablet-up {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include mobile-only {
      margin-bottom: 2rem;
    }
    img {
      transition: all 2s $ease;
      width: 100%;
    }
    &:hover {
      img {
        transform: scale(1.04);
      }
      h3 {
        text-decoration: underline;
      }
    }
  }
  .product-info {
    border-top: $border;
    padding-top: 1.5rem;
    max-width: 18rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    @include tablet-up {

      min-height: 9rem;
    }
    @include mobile-only {
      text-align: center;
    }
  }
  h3 {
    margin-bottom: 2rem;
    @include mobile-only {
      margin-bottom: 1rem;
      max-width: 18rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

/* --------------------------------------------------------------------------
  FEATURED IN (PRESS)
-----------------------------------------------------------------------------*/
.template-index .featured-in {
  background: $lightGreyBg;
  @include tablet-up {
    padding-bottom: 7rem;
  }
  @include mobile-only {
    padding-bottom: 7rem;
  }
  h2 {
    margin-bottom: 4.5rem;
    text-align: center;
    @include mobile-only {
      margin-bottom: 0;
    }
  }
  a {
    display: block;

  }

  /* LAYOUT ================== */
  .inner {
    max-width: 106.8rem;
    margin-left: auto;
    margin-right: auto;

  }
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo-item {
    width: 25%;
    @include mobile-only {
      width: 50%;
      margin-bottom: 2rem;
      padding: 2rem;
    }
    transition: 0.7s all $ease;
    &:hover {
      transform: translateY(.3rem);
      opacity: 0.8;
    }
    img {
      width: auto;
      height: auto;
      display: block;
      max-width: 25.7rem;
      max-height: 5.8rem;
      margin-left: auto;
      margin-right: auto;
      mix-blend-mode: multiply;
      @include mobile-only {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
      }
    }
  }
}

/* --------------------------------------------------------------------------
  IMAGE AND TEXT BLOCKS
-----------------------------------------------------------------------------*/
.template-index .image-text-columns {
  background: $lightGreyBg;
  text-align: center;
  @include tablet-up {
    padding-top: 3rem;
  }
  .cropped-image-wrapper {
    padding-bottom: 84%;
  }
  h2 {
    margin-bottom: 6.4rem;
    @include mobile-only {
      margin-bottom: 3rem;
    }
  }
  .desc {
    max-width: 37.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    line-height: (22 / 16);
    margin-bottom: 5.3rem;
    @include mobile-only {
      margin-bottom: 3rem;
    }
  }
  .link--underline {
    @include tablet-up {
      font-size: 1.4rem;
      letter-spacing: 0.283rem;
    }
  }
}
