
/* --------------------------------------------------------------------------
  COLLECTION LAYOUT
-----------------------------------------------------------------------------*/
.collection-container {
  @extend .collection;
  padding-top: 5rem;
  @include mobile-only {
    padding-top: 3.5rem;
  }
  .inner {
    max-width: 102.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/* --------------------------------------------------------------------------
  COLLECTION HEADER
-----------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------
  COLLECTION FILTER
-----------------------------------------------------------------------------*/
.collection-filter {
  border-top: $border;
}
/* --------------------------------------------------------------------------
  PRODUCT GRID
-----------------------------------------------------------------------------*/
.collection-grid {
  padding-bottom: 6.8rem;

  .product-card {
    text-align: center;
  }
  img {
    height: 42rem;
    object-fit: contain;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    @include mobile-only {
      height: 23rem;
    }
  }
  h3 {
    font-size: 1.7rem;
    letter-spacing: 0.055rem;
    line-height: (23 / 17);
    max-width: 17.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .price {
    font-size: 1.2rem;
    letter-spacing: 0.243rem;
  }
}
