@charset "UTF-8";

/*================ COMMON ================*/
@import url('global/reset.scss');
@import url('global/slate-reset.scss');

/*================ SETTINGS ================*/
@import url('partials/fonts.scss');
@import url('settings/variables.scss.liquid');

/*================ PARTIALS ================*/
@import url('partials/images.scss');
@import url('partials/typography.scss');
@import url('partials/layout.scss');
@import url('partials/grid.scss');
@import url('partials/nav.scss');
@import url('partials/search.scss');
@import url('partials/footer.scss');
@import url('partials/forms.scss');
@import url('partials/buttons.scss');
@import url('partials/selectric.scss');
@import url('partials/cart.scss');
@import url('partials/email-popup.scss');
@import url('partials/animation.scss');
@import url('partials/components.scss');
@import url('partials/yotpo.scss');

/*================ SECTIONS ================*/
@import url('sections/about.scss');
@import url('sections/blog.scss');
@import url('sections/contact.scss');
@import url('sections/home.scss');
@import url('sections/info-pages.scss');
@import url('sections/ingredients.scss');
@import url('sections/product.scss');
@import url('sections/shop.scss');
@import url('sections/subscription.scss');
@import url('sections/wholesale.scss');

/* --------------------------------------------------------------------------
Section Comment
-----------------------------------------------------------------------------*/
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.skip-link {
  position: absolute;
  top: -400px;
  left: 0;
  padding: 0.8rem;
  z-index: 400;
  background: white;
  &:focus {
    top: 0;
  }
}

/* 404 page ================== */
.page-404,
.page-general {
  text-align: center;
  h1 {
    margin-bottom: 2rem;
  }
}
