


<!-- -====================================
COOKIES BAR
=========================================--->
  <div class="cookies-bar" style="background-color: {{section.settings.cookies_bg}}; color: {{section.settings.cookies_text_color}};">
    <p>{{section.settings.cookies_text}}</p>
    <button type="button" class="text-only js-close-cookies-bar" aria-label="Accept cookie use and close banner">
      {%- include 'icon-close' -%}
    </button>
  </div>

{% schema %}
{
  "name": "Cookies Bar",
  "settings": [
    {
      "id": "cookies_text",
      "type": "richtext",
      "label": "Cookies Bar Text"
    },
    {
      "id": "cookies_bg",
      "type": "color",
      "label": "Cookies Bar Bg Color"
    },
    {
      "id": "cookies_text_color",
      "type": "color",
      "label": "Cookies Bar Text Color"
    }
  ]
}
{% endschema %}
