<!-- If the user has filtered by colleciton, save that in a variable -->

{% assign urlCollection = collection %}
{% assign url_filter = current_tags[0] %}

{%- if section.settings.ordered_collection and collection.handle == 'all' -%}
  {% assign collection = collections[section.settings.ordered_collection] %}
{%- endif -%}


<div class="collection-container">
  <div class="inner">
    {% paginate collection.products by 30 %}
      <!-- ====== HEADER ======== -->
      <header role="banner" class="js-animate-in-on-load">
        <h1 class="heading--serif-grey js-filter-title" data-reveal="lines-masked">All Products</h1>
      </header>

      <!-- ====== FILTER ======== -->
      <section class="collection-filter">
        {%- include 'collection-filter-bar' -%}
      </section>

      <!-- ====== LOADING ICON ======== -->
      <div class="js-loading-icon-row loading-icon-row container padded">
        <div class="js-loading-icon-products loading-icon hide"  aria-hidden="true" tabindex="-1">
          {%- include 'icon-loading' -%}
        </div>
      </div>

      <!-- ====== PRODUCT LISTS ======== -->
      <section class="js-product-list collection-grid cols-3 cols-2-sm">
        {% for product in collection.products %}
          {%- include 'product-card' -%}
        {% endfor %}
      </section>

      <!-- ====== PAGINATION ======== -->
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endpaginate %}

  </div>
</div>

<script type="text/javascript">
  // FILTER #3
  var products = {{ collection.products | json }};
  var productCombinations = [];
  for (var i = 0; i < products.length; i++) {
    productCombinations.push(products[i].tags);
  }

</script>

{%- include 'ajax-collection-filter' -%}

{% schema %}
{
  "name": "Collection Page Settings",
  "settings": [
    {
      "id": "ordered_collection",
      "type": "collection",
      "label": "Ordered Collection"
    },
    {
      "type": "header",
      "content": "Filter Lists"
    },
    {
      "id": "link_list_1_heading",
      "type": "text",
      "label": "Filter List 1 Heading",
      "default": "Shop by Category"
    },
    {
      "id": "link_list_1",
      "type": "link_list",
      "label": "Filter List 1",
      "info": "Edit list itmes under Online Store > Navigation"
    },
    {
      "id": "link_list_2_heading",
      "type": "text",
      "label": "Filter List 2 Heading",
      "default": "Shop by Surface"
    },
    {
      "id": "link_list_2",
      "type": "link_list",
      "label": "Filter List 2",
      "info": "Edit list itmes under Online Store > Navigation"
    },
    {
      "id": "sort_trigger_text",
      "type": "textarea",
      "label": "Sort Trigger Text",
      "default": "Sort By:"
    }

  ]
}
{% endschema %}
